<div class="container recent__post">
  <div class="text-center">
    <h2>You may also like</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="blog__item set-bg" data-setbg="<%= url_for('img/blog/4.jpg') %>">
        <div class="blog__content">
          <div class="blog__date">DEC 18, 2019</div>
          <h4><a href="<%= url_for('blog-single.html') %>">Assorted Textures FREE Stock Photos</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog__item set-bg" data-setbg="<%= url_for('img/blog/2.jpg') %>">
        <div class="blog__content">
          <div class="blog__date">DEC 18, 2019</div>
          <h4><a href="<%= url_for('blog-single.html') %>">Assorted Textures FREE Stock Photos</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog__item set-bg" data-setbg="<%= url_for('img/blog/3.jpg') %>">
        <div class="blog__content">
          <div class="blog__date">DEC 18, 2019</div>
          <h4><a href="<%= url_for('blog-single.html') %>">Assorted Textures FREE Stock Photos</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>